<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>search</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/search-grid.css">
  <link rel="stylesheet" href="css/search.css">
</head>
<body class="body page-search clearfix">
  <p class="text text-1">Advanced Search</p>
  <div class="element element-1"></div>
  <p class="text text-2">Username :</p>
  <input class="_input _input-1" type="text">
  <p class="text text-3">NoTebook Search :</p>
  <input class="_input _input-2" type="text">
  <button class="_button"></button>
  <p class="text text-4">Search ResulTs</p>
  <div class="element element-2"></div>
</body>
</html>