body {
  background-color: rgb(255, 255, 255);
  font: 400 2.75em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.element {
  position: relative;
  float: left;
}

.text {
  position: relative;
  float: left;
}

.element-1 {
  z-index: 1;
  height: 5px;
  margin-left: 11.41667%;
  background-color: rgb(222, 222, 222);
}

.element-2 {
  z-index: 2;
  width: 78%;
  height: 1489px;
  background-color: rgb(222, 222, 222);
}

.element-3 {
  z-index: 4;
  width: 19.5989583333%;
  height: 285px;
  margin: -1377px 0 0 17.60026%;
  background: url('../images/notes2(3).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: 235px 285px;
  background-position: center center;
}

.element-4 {
  z-index: 5;
  width: 28.8333333333%;
  height: 300px;
  margin: -1397px 0 0 56%;
  background-color: rgb(222, 222, 222);
}

.element-5 {
  z-index: 6;
  width: 27.1986979166%;
  height: 184px;
  margin: -1281px 0 0 56.79948%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 23px;
  background-color: #fc6265;
}

.element-6 {
  z-index: 7;
  width: 6%;
  height: 62px;
  margin: -1265px 0 0 57.59896%;
  background: url('../images/like.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: 72px 62px;
  background-position: center center;
}

.element-7 {
  z-index: 8;
  width: 6%;
  height: 62px;
  margin: -1179px 0 0 57.59896%;
  background: url('../images/like(2).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: 72px 62px;
  background-position: center center;
}

.element-8 {
  z-index: 15;
  width: 69.6333333333%;
  height: 488px;
  margin: -980px 0 0 15.19921875%;
  background-color: rgb(222, 222, 222);
}

.text-1 {
  clear: both;
  z-index: 3;
  width: 27.2%;
  min-height: 37px;
  margin: -1457px 0 0 37.1992199999%;
  font-size: 0.545em;
  font-weight: 700;
  text-align: center;
  color: #030e88;
}

.text-2 {
  z-index: 13;
  width: 27.2%;
  min-height: 43px;
  margin: -1366px 0 0 56.79948%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 14px;
  background-color: rgba(246, 244, 244, 0.98);
  font-size: 0.523em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-3 {
  z-index: 0;
  width: 19.6%;
  min-height: 41px;
  margin: -1355px 0 0 63.59766%;
  font-size: 0.364em;
  color: rgb(0, 0, 0);
}

.text-4 {
  z-index: 11;
  width: 5.1999999999%;
  min-height: 62px;
  margin: -1265px 0 0 65.20052%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-5 {
  z-index: 9;
  width: 12.8%;
  min-height: 62px;
  margin: -1265px 0 0 70.39974%;
  background-color: rgba(252, 251, 251, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-6 {
  z-index: 12;
  width: 5.1999999999%;
  min-height: 62px;
  margin: -1179px 0 0 65.20052%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-7 {
  z-index: 10;
  width: 12.8%;
  min-height: 62px;
  margin: -1179px 0 0 70.39974%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-8 {
  z-index: 14;
  width: 27.2%;
  min-height: 33px;
  margin: -1037px 0 0 36.3997395833%;
  font-size: 0.364em;
  text-align: center;
  color: rgb(0, 0, 0);
}