#container{
    margin: 3% auto;
    padding: 20px;
    background-color: rgba(231, 225, 225, 0.7);
    width: 95%;
    height: 700px;
}

#popup{
    padding:30px;

}

#addeventbtn{
    border-radius: 50%;
    width:200px;
    height:200px;
    font-size: 25px;
    background-color: rgb(46, 22, 133, .8);

}

#addeventbtn:hover{
    background-color: rgba(247, 247, 247, .5);
    font-weight: bold;
    color:rgb(46, 22, 133);
    border: rgb(46, 22, 133);
}

#footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}