#navevent{
    border-radius: 20px;
    margin-left: 1%;
    width: 98%;
    margin-top:1%;
    align-items: center !important;
}
#eventinfonav{
    height:100px;
}
#eventvenuenav{
    height:100px;
}
#eventcateringnav{
    height:100px;
}
#eventinvitesnav{
    height:100px;
}
#eventwishlistnav{
    height:100px;
}
#eventtasklistnav{
    height:100px;
}
#eventinfo{
    margin-top: 10%;
    height:90%;
    padding-top: 2%;
    background-color: rgba(255,255,255,0.5);
    margin-left:1%;
    border-radius: 20px;
    width: 98%;
}

#eventvenue{
    margin-top: 2%;
    height:90%;
    padding: 2%;
    background-color: rgba(255,255,255,0.5);
    margin-left:1%;
    border-radius: 20px;
    width: 98%;
}

#eventcatering{
    margin-top: 2%;
    height:90%;
    padding: 2%;
    background-color: rgba(255,255,255,0.5);
    margin-left:1%;
    border-radius: 20px;
    width: 98%;
}
#eventinvites{
    margin-top: 2%;
    height:90%;
    padding: 2%;
    background-color: rgba(255,255,255,0.5);
    margin-left:1%;
    border-radius: 20px;
    width: 98%;
}
#eventwishlist{
    margin-top: 2%;
    height:90%;
    padding: 2%;
    background-color: rgba(255,255,255,0.5);
    margin-left:1%;
    border-radius: 20px;
    width: 98%;
}
#eventasklist{
    margin-top: 2%;
    height:90%;
    padding: 2%;
    background-color: rgba(255,255,255,0.5);
    margin-left:1%;
    border-radius: 20px;
    width: 98%;
    margin-bottom: 2%;
}
#footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#guestemails{
    margin-left:30%;
    background: rgba(238, 237, 241,.5);
    width:40%;
    height:30px;
    border-radius: 10px;
    margin-top:2px;
    color: rgb(22, 78, 182);
}

#guestemaildelete{
    background: rgb(63, 10, 10);
    width:20px;
    height:100%;
    color: white;
    float: right;
}
#guestemaildelete:hover{
    background: rgb(199, 30, 30);

}
#inviteguestbtn{
    margin: 10px;
}
#emailguestinput{
    width:40%;
    margin-left:30%;
}
