#forgotcont{
    margin-top: 5%;
    height: 600px;
    width: 400px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 25px;
    border: 2px solid rgb(0, 2, 133);
    padding: 20px; 
  
}

#forgotimg{
    height: 200px;
    width: 200px;
}