.navbar{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
}
body{
    background-image: url('../res/fiestabg.jpg');
    height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing
{
    max-width: auto;
    max-height: auto;
    height: 700px;
    width: 100%;
    margin-bottom:4%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.landingimg{
    max-width: 20%;
    max-height: 20%;
    padding-top: 10%;
    padding-bottom: 25px;
}

#about {
    width: auto;
    height: 800px;
    padding: 100px 100px;    
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 1, 70, 0.89);
}
#team {
    width: auto;
    height: 900px;
    padding: 100px 100px;    
    background-color: rgba(255, 255, 255, 0.199);
    color: rgba(0, 0, 0);
}
#contact {
    color: white;
    width: auto;
    height: 750px;
    padding: 100px 100px;
    background-color: rgba(0, 0, 0, 0.8); 
}
#footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#teamimg{
    height:225px;
    width: 200px;
    object-fit: cover;
}